* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  color: #333333;
}

/* NAVBAR */
.navbar-dark {
  overflow: hidden;
}

.navbar-dark a {
  padding: 5px;
  color: #fff; /*Sets the text hover color on navbar*/
}

.navbar-dark .nav-link:hover {
  background-color: royalblue;
}

.nav-logo {
  width: 50px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* HEADER */
header {
  margin-top: 150px;
}

.subtitle {
  color: grey;
  padding-bottom: 10vh;
  font-size: 25px;
}

/* BODY */
body {
  font-size: 110%;
  line-height: 1.6;
}

/* STATS */
.america-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  font-size: 9vw;
  margin: 0;
}

h3 {
  padding-bottom: 5vh;
  color: royalblue;
  font-size: 20vw;
}

/* TABLE */
.table-container {
  overflow-x: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

table {
  font-size: 22px;
}

th {
  background-color: royalblue;
  color: white;
}

th, td {
  padding: 2px;
  border-bottom: solid 1px #333333;
}

table tr:nth-of-type(even) {
  background-color: #F3F3F3;
}


/* LINE CHART */
.line-chart {
  width: 375px;
  height: auto;
  display: inline-block;
}

.charts {
  position: relative;
  overflow: hidden;
  left: -25px;
}


/*
h4 {
  padding-top: 2vh;
  padding-bottom: 1vh;
}

h4 a:before {
  content: "";
  color: royalblue;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: royalblue;
  border-bottom: 2px solid royalblue;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}


h4 a:hover:before {
  visibility: visible;
  width: 100%;
}
*/

/* About */

.container-body-parag{
  padding: 2em 0px;
}

.container-body-parag h3{
  padding: 0;
  font-size: 2rem;
}

/* More INFO */
.moreInfo {
  padding: 1vh 0 1vh 0;
  font-size: 110%;
  line-height: 1.4;
}

.moreInfo li{
  margin-left: 2rem; 
}


@media (min-width: 598px) {
  .title {
    font-size: 60px;
  }
  h2 {
    font-size: 60px;
  }
  
  h3 {
    font-size: 100px;
  }
  .line-chart { /* CHANGE THEIR SIZE ON BIGGER VIEWPORTS */
    display: inline;
  }

}


@media (min-width: 768px) {
  .america-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .stat-info-container {
    margin: 30px;
  }

  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 60px;
  }

  .charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}



@media (min-width: 992px) {
  header {
    margin-top: 100px;
    text-align: center;
  }

  .table-container {
    overflow-x: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 75px;
  }
  .subtitle {
    font-size: 30px;
  }
}

/* FOOTER */

.footer-container {
  position: relative;
  background: rgb(243, 243, 243);
  margin: 80px 0 0 0;
  padding: 50px 0 50px 0;
  text-align: center;
}

.footer-container p {
  color: grey;
  line-height: 30px;
}



/* Color palette:
#4169e1 -- royal blue
*/