* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
  font-size: 140%;
}

#wrapper {
  width: 1000px;
  margin: 0.5vh auto;
  max-width: 90rem;
}

#divide {
  margin-top: 0.5vh;
  border-bottom: 1px solid #ccc;
}

.nav-container {
  width: 900px;
  margin: 3px 8vw;
  max-width: 68 rem;
  display: flex;
  justify-content: space-between;
  padding: 1.01vh 0vh;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.extLink {
  text-decoration: underline black;
}

h4 a {
  position: relative;
}

h4 a:hover {
  color: royalblue;
}


.nav-container a:hover {
  color: royalblue;
}

.nav-container-ul {
  display: block;
}

h4 li {
  list-style-type: none;
  padding-bottom: 2vh;
}

.nav-container li {
  color: royalblue;
  display: inline-flex;
  padding-right: 3vw;
}

#nav-container-strong {
  color: royalblue;
  font-weight: bold;
  border-bottom: 3px solid royalblue;
  padding-bottom: 0.55rem;
}

.item-container {
  background: royalblue;
  width: 100%;
  height: 9vh;
  display: flex;
}

.item1 {
  color: white;
  display: block;
  margin: auto 2rem;
  text-align: left;
  align-content: center;

}

#home {
  color: white;
}


h3 {
  padding-top: 3vh;
  padding-bottom: 1vh;
  color: royalblue;
  font-size: 160%;
}

h4 {
  padding-top: 2vh;
  padding-bottom: 1vh;
}



h4 a:before {
  content: "";
  color: royalblue;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: royalblue;
  border-bottom: 2px solid royalblue;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}


h4 a:hover:before {
  visibility: visible;
  width: 100%;
}

.guide {
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: royalblue;
  font-weight: 700;
}

.title {
  color: black;
  font-weight: bold;
  font-size: -webkit-xxx-large;
  padding-bottom: 3vh;
  padding-top: 5vh;
}

.subtitle {
  color: grey;
  font-size: 130%;
  padding-bottom: 10vh;
}

.content p {
  padding: 1vh 0 1vh 0;
  font-size: 110%;
  line-height: 1.4;
}

.whyCovid-container {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.whyCovid-left {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  width: 20%;
}

.whyCovid-left h4 {
  padding-top: 10px;
  padding-left: 30px;
  font-size: 115%;
}

.whyCovid-right {
  display: inline-block;
  width: 78%;
}

#however {
  text-align: center;
  padding: 3vh 0 3vh 0;
  font-weight: 600;
}

.content2 {
  display: block;
  margin: 0 0 0 11vw;
  padding: 3vh 0 3vh 0;
}

.content2-list {
  padding: 0vh 0vw 0vh 18vw;
  font-size: 105%;
}

.main-page-footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

.footer-container {
  position: relative;
  background: rgb(243, 243, 243);
  margin: 80px 0 0 0;
  padding: 50px 0 50px 0;
  text-align: center;
}

.footer-container p {
  color: grey;
  line-height: 30px;
}

.image {
  padding: 3vh 0 3vh 0;
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}