* { 
  margin: 0; 
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#wrapper { 
  width: 900px; 
  margin : 0.5vh 9vw;
  max-width: 68rem;
  min-width: 32rem;
}

#divide {
  border-bottom: 1px solid #ccc;

}



.item-container {
  background: royalblue; 
  width: 100%; 
  height: 9vh;
  display: flex;
}

.item1{
  color: white;
  display: block;
  margin : auto 2rem;
  text-align: left;
  align-content: center;

}

#home {
  color: white;
}

a {
  text-decoration: none; 
  color: black;
  transition: color 0.2s;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1vh 0vh; 
}

.nav-container a:hover {
  color:royalblue; 
}

.nav-container-ul {
  display: block;
}

.nav-container li {
  color: royalblue;
  display: inline-flex;
  padding-right: 3vw;
}

#nav-container-strong {
  color:royalblue; 
  font-weight: bold;
  border-bottom: 3px solid royalblue;
  padding-bottom: 0.55rem;
}

@media screen and (min-width: 768px) {
  .item-container{
      background: royalblue; 
      width: 100%; 
      height: 9vh;
      display: flex;
    
  }
}

@media screen and (max-width: 500px) {
  .item-container{
      background: royalblue; 
      width: 100%; 
      height: 18vh;
      display: flex;
    
  }
}

h3 {
  padding-top: 3vh; 
  padding-bottom: 1vh;
  color: royalblue;
}

h4 {
  padding-top: 2vh; 
  padding-bottom: 1vh;
}

h4 li {
  list-style-type: none;
  padding-bottom: 2vh; 
}



h4 a:before {
  content: "";
  color: royalblue;
  position: absolute; 
  width : 0; 
  height: 2px; 
  bottom: -5px;
  left: 0; 
  background-color: royalblue;
  border-bottom: 2px solid royalblue; 
  visibility: hidden; 
  transition: all 0.4s ease-in-out; 
}

h4 a {
  position: relative;
}

h4 a:hover:before {
  visibility: visible;
  width: 100%; 
}

h4 a:hover {
  color: royalblue;
}

footer {
  background: #ccc;
  margin-top: 50vh;
}


